doctype html
html(lang="en")
  head
    title Vacuum cleaner
    link(rel="stylesheet", href="assets/css/reset.css")
    link(rel="stylesheet", href="assets/css/main.css")
    script(src="assets/js/main.js")
  body
    div(class="content" id="content")
      div(class="cleaner", id="cleaner")
      div(class="new-room modal-window", id="newRoom")
        form(method="POST" action="/" id="newRoomForm")
           p(class="close-button") x
           h2 Add room
           input(type="text" placeholder="Enter room name" id="roomName")
           input(type="number" placeholder="Square" min="1" id="roomSquare" step="0.1")
           input(type="button" value="Save" id="saveRoom")
           input(type="reset" value="Reset")
      div(class="change-room-form modal-window")
       form(method="POST" action="/" id="changeRoomForm")
            p(class="close-button") x
            h2 Change room
            select(id="listOfRooms")
             option(value="empty") Choose the room
            br
            input(id="changeNameField" placeholder="Enter new name" value="")
            br
            input(type="button" value="Save changes" id="saveRoomChanges")
            input(type="button" value="Delete room" id="deleteRoom")
      div(class="modal-form modal-window")
        form(class="form-reg")
          p(class="close-button") x
          label LOG IN
          input(type="text" placeholder="login" id="login")
          input(type="button" value="Log in" id="btnLogIn")
          button(class="cancel" id="cancel") [ Cancel ]
      aside(class="menu" id="menu")
        div(class="greeting" id="#{locals.login}")
          h2 Hello,
          p
           a(href="#" id="logOut" class="log-out") Log out
        div(id="loginRegister" class="start-page")
          h1 Hello from smart vacuum cleaner!
          p Whether you love having the latest tech, hate cleaning or you’re not as mobile as you once were, robot vacuum cleaners are a fun way to get a rather boring household chore done. And they certainly look impressive but with the most expensive one we tested costing eight hundred quid, it’s worth knowing exactly what you’re getting for your money before you invest. They don’t claim to be as good as your standard household vacuum cleaner when it comes to suction and dust capacity, so if that’s all you care about it may be better to buy a good upright vacuum cleaner. But they are a convenient way of keeping your floors looking spick and span with minimal effort. Most come with apps too, so you can control them outside the home. 
          h2 To get access to your cleaner #[a(href="#" id="register") register/login ] now
        div(class="colors")
         h2 Menu
         h3 Choose the color
         form(method="POST" action="/")
           select(id="colors")
             option(value="empty") I don't want to change it
             option(value="red") Red
             option(value="blue") Blue
             option(value="gold") Gold
             option(value="pink") Pink
             option(value="purple") Purple
             option(value="green") Green
             option(value="turquoise") Turtuoise
        div.rooms#rooms
          h2 Your rooms:
          ol#roomList
          p#anyRoom You haven't added any room yet. Please press the button below to add new room
        input(type="button" id="addRoom" value="Add new room" class="button")
        input(type="button" id="changeRoom" value="Change room" class="button")
