doctype html
html(lang="en")
  head
    title Vacuum cleaner
    link(rel="stylesheet", href="assets/css/reset.css")
    link(rel="stylesheet", href="assets/css/main.css")
    script(src="assets/js/main.js")
  body
    div(class="content" id="content")
      div(class="cleaner", id="cleaner")
      aside(class="menu" id="menu")
        h2 Menu
        div.on-off-button-area
          div.on-off-button.cleaner-on
          span OFF
        form(method="POST" action="/")
          select(id="colors")
            option(value="empty") I don't want to change it
            option(value="red") Red
            option(value="blue") Blue
            option(value="gold") Gold
            option(value="pink") Pink
            option(value="purple") Purple
            option(value="green") Green
            option(value="turquoise") Turtuoise
        div
          p To save your options #[a(href="#" id="register") register ] now
