doctype html
html(lang="en")
  head
    title Vacuum cleaner
    link(rel="stylesheet", href="assets/css/reset.css")
    link(rel="stylesheet", href="assets/css/main.css")
    script(src="assets/js/main.js")
  body
    div(class="content" id="content")
      div(class="cleaner", id="cleaner")
      div(class="new-room", id="newRoom")
          form(method="POST" action="/" id="newRoomForm")  
           p(id="closeNew" class="close-button") x
           h2 Add room
           div(class="room-name")
            label Name
            input(type="text" placeholder="Kitchen" id="roomName")
           div(class="square")
            label Square
            input(type="number" placeholder="20.5" min="1" id="roomSquare" step="0.1")
           input(type="button" value="Save" id="saveRoom")
           input(type="reset" value="Reset")
      form(method="POST" action="/" id="changeRoomForm" style="display:none")
            p(id="closeChanges") x
            h2 Change room
            select(id="listOfRooms")
             option(value="empty") Choose the room
            br
            input(placeholder="Enter new name")
            br
            label Square
            input(type="number" id="squareRoomChange")
            br
            input(type="button" value="Save changes" id="saveRoomChanges")
            input(type="button" value="Delete room" id="deleteRoom")
      aside(class="menu" id="menu")
        div(class="greeting" id="#{locals.login}")
          h3 Hello, 
          p 
           a(href="#" id="logOut" class="log-out") Log out
        h2 Menu
        div(class="colors")
         h3 Choose the color
         form(method="POST" action="/")
           select(id="colors")
             option(value="empty") I don't want to change it
             option(value="red") Red
             option(value="blue") Blue
             option(value="gold") Gold
             option(value="pink") Pink
             option(value="purple") Purple
             option(value="green") Green
             option(value="turquoise") Turtuoise
        div(id="loginRegister")
          p To save your options #[a(href="#" id="register") register/login ] now
        div.rooms#rooms
          h2 Your rooms:
          ol#roomList
          p#anyRoom You haven't added any room yet. Please press the button below to add new room
        input(type="button" id="addRoom" value="Add new room" class="add-room-button")
        input(type="button" id="changeRoom" value="Change room")
