doctype html
html(lang="en")
  head
    title Vacuum cleaner
    link(rel="stylesheet", href="assets/css/reset.css")
    link(rel="stylesheet", href="assets/css/main.css")
    script(src="assets/js/main.js")
  body
    div(class="content" id="content")
      div(class="cleaner", id="cleaner")
      aside(class="menu" id="menu")
        div(class="greeting" id="#{locals.login}")
          h3 Hello, 
          a(href="#" id="logOut") Log out
        h2 Menu
        form(method="POST" action="/")
          select(id="colors")
            option(value="empty") I don't want to change it
            option(value="red") Red
            option(value="blue") Blue
            option(value="gold") Gold
            option(value="pink") Pink
            option(value="purple") Purple
            option(value="green") Green
            option(value="turquoise") Turtuoise
        div(id="loginRegister")
          p To save your options #[a(href="#" id="register") register/login ] now
